<p>
  Párrafo de introducción.
</p>

<%= link_to lawyer_new_path, class: "btn btncircle" do %>
    <i class="glyphicon glyphicon-euro"></i> Dashboard
<% end %>

<%= link_to "Crear proceso", lawyer_new_path %>
<span class="glyphicon glyphicon-search"></span>

<%= link_to "Buscar", lawyer_search_path %>

<%= link_to "Reporte", lawyer_report_path %>
