<p class="justify">
  Bienvenido(a) a <b class="ligthgreen1">Registro Único</b>.
  <br><br>
  Apreciado(a) <%= @user.name.titleize %>.
  <br><br>
  La Gerencia de Procesos Judiciales a través de esta aplicación busca consolidar los registros de los casos vigentes o terminados, que son administrados por esta área, como preparación para la futura migración de datos que se realizará.
  <br><br>
  Como Abogado que apoya la Defensa Judicial de La Previsora, usted podrá acceder a funcionalidades de búsqueda de procesos y actualizar la información de los registrados en el sistema.
  <br><br>
  Cualquier inquietud tecnológica, o de los casos, podrá comunicarse con la Mesa de Ayuda de Registro Único al celular <b class="ligthgreen1">321-480-0201</b> o enviarla al siguiente correo <a href="mailto:soporteregistrounico@gmail.com">soporteregistrounico@gmail.com</a>. Si dentro de los listados no encuentra algún caso o tiene alguno que no le fue asignado por la Gerencia de Procesos Judiciales, por favor infórmelo a esta misma línea.
  <br><br>
  Contamos con su compromiso en la verificación y validación de la información que genere o actualice en el desarrollo de su gestión.
  <br><br>
  <b class="ligthgreen1">Gracias por ser parte de la Defensa Judicial de La Previsora.</b>
</p>
<br>
<div class="row">
  <div class="offset-sm-1 col-sm-2">
    <%= link_to lawyer_new_path, class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf067;</span>
    <% end %>
    <br>
    <p class="ligthgreen1">
      Nuevo Registro
    </p>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to lawyer_search_path, :class=>"btn-circle btn-inverse" do %>
      <span class="fa">&#xf002;</span>
    <% end %>
    <br>
    <p class="ligthgreen1">
      Buscar Registro
    </p>
  </div>
  <div class="offset-sm-2 col-sm-2">
    <%= link_to lawyer_tutorial_path, :class=>"btn-circle btn-inverse" do %>
      <span class="fa">&#xf26c;</span>
    <% end %>
    <br>
    <p class="ligthgreen1">
      Video Tutorial
    </p>
  </div>
</div>
