<p class="m-30">
  Párrafo de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  Párrafo de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  Párrafo de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  Párrafo de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
  de introducción. Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.Párrafo de introducción.
</p>

<div class="container-fluid center">
    <%= link_to lawyer_new_path, class:"link" do %>
        <span class="glyphicon glyphicon-plus btn-circle btn-inverse"></span>
    <% end %>
    <%= link_to lawyer_search_path, class:"link" do %>
        <span class="glyphicon glyphicon-search btn-circle btn-inverse"></span>
    <% end %>
    <%= link_to lawyer_report_path, class:"link" do %>
        <span class="glyphicon glyphicon-duplicate btn-circle btn-inverse"></span>
    <% end %>
</div>
