<p class="justify">
  Bienvenido(a) a <b class="ligthgreen1">Registro Único Secundario</b>.
  <br><br>
  Apreciado(a) <%= @user.name.titleize %>.
  <br><br>
  Como parte de las actividades de preparación de los datos de la Gerencia de Procesos Judiciales para la migración a la herramienta LITISOFT, y tal como les fue socializado en la sesión “Cómo vamos” del pasado 20 de noviembre, es necesario realizar un corte de operación de los procesos de la Gerencia de Procesos Judiciales. Por tal motivo, desde el 24 de noviembre y hasta el 16 de diciembre de 2018, le solicitamos por favor siga las siguientes instrucciones:
  <br><br>
  1. Los casos nuevos que lleguen por cualquiera de los medios a la compañía (buzón de notificaciones, onbase, físico, etc) deberá  ingresarlos de manera temporal a ésta nueva versión de Registro Único llamada Registro Unico Secundario, al cual podrá acceder con el mismo usuario y clave de la versión anterior.
  <br><br>
  2. Una vez grabados en el Registro Único Secundario, asígnelos por correo electrónico al apoderado externo correspondiente y tramite manualmente la carta de asignación de proceso y el poder. Se recomienda el control documental.
  <br><br>
  3. En el caso de actualizaciones de los procesos previos al 24 de noviembre de 2018, que en adelante se llamarán “procesos migrados”. <b class="ligthgreen1">Usted podrá consultarlos más no editarlos.</b> Por lo cual para ésta actualización, le solicitamos que por favor desarrolle un control personal de la información a actualizar, por ejemplo: en su Outlook puede generar una carpeta que se llame “Para actualizar Litisoft” y allí guarde los correos que contengan la información a actualizar. Si la información la recibe en medio físico, disponga de un lugar adecudado en su escritorio para guardar de manera ordenada estos documentos; use carpetas, bandas de caucho o insumos de papelería que le permita organizar e identificar fácilmente dichos documentos y de esta manera agilizar el proceso de registro en la nueva herramienta tecnológica Litisoft una vez se active en producción.
  <br><br>
  4. El 14 de diciembre, al terminar la jornada, se descargará del Registro Único secundario el Reporte de casos nuevos ingresados por cada uno de ustedes (sólo aparecerán los nuevos que haya ingresado desde el 24 de noviembre hasta el 14 diciembre). Este reporte se enviará por correo electrónico a las nuevas Radicadoras de procesos: Ángela Hernandez y Patricia Molano, quienes realizarán el respectivo registro en Litisoft. Allí es donde se asignará el consecutivo de los nuevos casos.
  <br><br>
  5. A partir del 17 de diciembre, cada uno de los Abogados Internos, deberá ingresar en Litisoft todas las actualizaciones del punto 3 relacionadas con los procesos migrados. Importante: revisar que los casos migrados se encuentren de manera correcta.
</p>
<br>
<div class="row">
  <div class="offset-sm-1 col-sm-3">
    <%= link_to lawyer_search_path, :class=>"btn-circle btn-inverse" do %>
      <span class="fa">&#xf002;</span>
    <% end %>
    <br>
    <p class="ligthgreen1">
      Buscar Registro
    </p>
  </div>
  <div class="offset-sm-4 col-sm-3">
    <%= link_to lawyer_report_path, class:"btn-circle btn-inverse" do %>
      <span class="fa">&#xf019;</span>
    <% end %>
    <br>
    <p class="ligthgreen1">
      Descargar Base de Datos
    </p >
  </div>
</div>
