<h1>Editar tutela</h1>

<%= render 'form', type_process: @tutelage %>
<%= link_to 'cancelar', lawyer_search_path, class:"btn btn-default" %>
<%= link_to "Volver", type_process_path(@prejudicial), class:"btn btn-default" %>
