<h3 class="title">Nuevo Registro de Tutela</h3>
<h4 class="title"><b class="darkgreen">Abogado Interno:</b> <%= current_user.name %></h4>

<%= render 'form', type_process: @tutelage %>
<%= link_to 'Volver', lawyer_new_path, class:"btn btn-default" %>
