<div class="row">
  <div class="offset-2 col-8">
    <div style="margin-top: 40px">

      <p class="justify">
        Apreciado usuario, para reestablecer su contraseña deberá communicarse con alguno de los coordinadores legales que administra la aplicación o con la mesa de soporte brindada.
      </p>

    </div>
  </div>
</div>
