<div class="row">
  <div class="offset-2 col-8">
    <div style="margin-top: 40px">

      <p class="justify">
        Apreciado(a) Usuario(a):
        <br><br>
        Para reestablecer su contraseña por favor comuniquese con el Coordinador Legal asignado a su grupo.
      </p>

    </div>
  </div>
</div>
