<div class="p-30">
  <h2 class="center mt-50">Historial de reportes</h2>
  <br>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="row">
        <ol>
          <% @files.sort.each do |f| %>
            <div class="col-sm-3">
              <li><%= link_to "#{File.basename f}", coordinator_download_file_url(:file => (File.basename f)), download: (File.basename f), class:"link" %></li>
            </div>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
