<h2 class="title">Historial de reportes</h2>
<div class="row">
  <div class="offset-sm-1 col-sm-10">
    <ol>
      <% @files.sort.each do |f| %>
        <li><%= link_to "#{File.basename f}", coordinator_download_file_url(:file => (File.basename f)), download: (File.basename f), class:"link" %></li>
      <% end %>
    </ol>
  </div>
</div>
