<h2 class="title">Mantenimiento de Listas Desplegables</h2>

<p class="justify">
  Apreciado(a) <%= current_user.name.titleize %>.
  <br>
  <br>
  Seleccione el tipo de lista desplegable que desea editar.
</p>

<br>
<br>

<div class="offset-sm-3 col-sm-6">

  <%= link_to "Lista de Abogados Externos", attornies_path, class:"btn btn-grad mb-5 fw" %>

</div>
