<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="ReporteRegistroUnico">
    
    <Table>

      

      <Row>
        <% @report.column_names_all.each do |c| %>
          <Cell><Data ss:Type="AnyType"><%= c %></Data></Cell>
        <% end %>
      </Row>


      <% @report.each do |process| %>
        <Row>
          <% process.get_content_all.each do |fields| %>
            <Cell><Data ss:Type="AnyType"><%= fields %></Data></Cell>
          <% end %>
        </Row>
      <% end %>

    </Table>
    
  </Worksheet>
  
</Workbook>
