<h3 class="title">Nuevo Registro de Caso de Proceso Laboral</h3>
<h4 class="title"><b class="darkgreen">Abogado Interno:</b> <%= current_user.name %></h4>

<%= render 'form', type_process: @secret %>
<%= link_to 'Volver', new_secret_path, class:"btn btn-default" %>
