<h2 class="center mt-50">Nueva Audiencia Prejudicial</h2>
<h4 class="center mt-50"><b class="darkgreen">Abogado Interno:</b> <%= current_user.name %></h4>

<%= render 'form', type_process: @prejudicial %>
