<h2 class="title">Nueva Audiencia Prejudicial</h2>
<h4 class="title"><b>Abogado Interno:</b> <%= current_user.name %></h4>

<%= render 'form', type_process: @prejudicial %>
<%= link_to 'Volver', lawyer_new_path, class:"btn btn-default" %>
