<h3 class="title">Editar Registro de Caso de Procedimiento Administrativo</h3>

<%= render 'form', type_process: @administrative %>
<%= link_to "Volver", type_process_path(@administrative), class:"btn btn-default" %>
