<h2 class="title">Nuevo Procedimiento Administrativo</h2>
<h4 class="title"><b class="darkgreen">Abogado Interno:</b> <%= current_user.name %></h4>

<%= render 'form', type_process: @administrative %>
